* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}


body {
    
    background-color: #fff;  
}

/* Navbar */
.form2{
    width: auto;
    height: auto;
}

.input_nav {
    font-size: 0.9rem;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-radius: 10px;
}
.input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
}
.icone-inicial {
    width: 200px;
    height: 35px;  
}

.icone-segundario {
    width: 150px;
    height: 40px;  
    border-radius: 50px;
}

.bg-custom {
    background-color: #CD3333;
}

a.nav-link {
    color: #ccc;
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.3s;
    font-family: "Poppins", serif;
}

a.nav-link:hover {
    font-size: 1.3rem;
    color: #fff;
}

a.nav-link.active.bg-custom {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.sla {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

/* Estilo padrão para .navbar-nav */
.navbar-nav {
    gap: 3rem; /* Valor original */
}

/* Search */
.form2 button {
    border: none;
    background: none;
    color: #8b8ba7;
}


/* Estilização do input */
.input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
}



input:focus {
    outline: none;
}

/* Código da borda animada */
.form:focus-within:before {
    transform: scale(1);
}

/* Estilização do botão de reset */
.reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
}

/* Exibição do botão de reset quando o texto está sendo digitado */
input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
}

/* Tamanho dos ícones SVG */
.form2 svg {
    width: 17px;
    margin-top: 3px;
}

/* Estilização da lupa */
.lupa {
    border: none;
    background: none;
    color: #9595AE;
}

/* Botões da navbar */
button.btn_nav {
    display: flex !important;
    gap: 10px;
    font-size: 13px;
    color: #fff;
    border: none;
    background-color: transparent;
    text-align: start;
    padding-left: 5px;
    width: 100%;
    border-radius: 20px;
    padding: 8px;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", serif;
}

button.btn_nav:hover {
    background-color: #b42121;
}

    .form2 {
        --timing: 0.3s;
        --width-of-input: 200px;
        --height-of-input: 40px;
        --border-height: 2px;
        --input-bg: #fff;
        --border-color: #3042df;
        --border-radius: 10px;
        --after-border-radius: 10px;
        position: relative;
        width: var(--width-of-input);
        height: var(--height-of-input);
        display: flex;
        align-items: center;
        padding-inline: 0.8em;
        border-radius: var(--border-radius);
        transition: border-radius 0.5s ease;
        background: var(--input-bg,#fff);
        width: 100%;
    }

    /* styling of animated border */
    .form2:before {
        content: "";
        position: absolute;
        background: var(--border-color);
        transform: scaleX(0);
        transform-origin: center;
        width: 100%;
        height: var(--border-height);
        left: 0;
        bottom: 0;
        border-radius: 100px;
        transition: transform var(--timing) ease;
    }

    .form2 {
        --timing: 0.3s;
        --width-of-input: 200px;
        --height-of-input: 40px;
        --border-height: 2px;
        --input-bg: #fff;
        --border-color: #3042df;
        --border-radius: 10px;
        --after-border-radius: 10px;
        position: relative;
        width: var(--width-of-input);
        height: var(--height-of-input);
        display: flex;
        align-items: center;
        padding-inline: 0.8em;
        border-radius: var(--border-radius);
        transition: border-radius 0.5s ease;
        background: var(--input-bg, #fff);
        width: 100%;
    }
    /* Hover on Input */
    .form2:focus-within {
        border-radius: var(--after-border-radius);
    }


@media (max-width: 991px) {
    .botao_nav {
        display: none;
    }
}

/* Responsividade para a navbar */
@media (max-width: 991px) {
    .botao_nav {
        display: none;
    }
    .sla {
        display: none;
    }
    .form2 {
        margin-top: 10px;
    }
}

@media (min-width: 991px) {
    .nav-link.a {
        display: none;
    }

    .form1 {
        display: none;
    }
}

@media (max-width: 1048px) {
    .navbar-nav {
        gap: 1rem; /* Novo valor de gap para telas menores ou iguais a 1048px */
    }
    .sla {
        width: 40%;
    }
}

    
@media (min-width: 991px) {
    .nav-link.a{
        display: none;
    }

}


@media (max-width: 991px) {
    
    

    .ms-auto.a{
        display: none;
    }


    .botao_nav{
        display: none;
    }
        

}




.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 20px 20px 20px; /* topo, direita, baixo, esquerda */

}

.icone_cadastro{
    width: 40px;
    height: 40px;
}

.text{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    height: 100%;
}
.itens,p{
    text-align: left;
    font-weight: bold;
    font-size: 30px;
}

.itens{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
    width: 100%;


}


/* form */

.form{
    display: grid;
    grid-template-columns: repeat(3,1fr); /* Duas colunas para melhor disposição */
    gap: 20px; /* Maior espaço entre os elementos */
    align-items: start;
    max-width: 100%;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    border-top: 4px solid #CD3333;
}

/* Input geral */
input {
    font-size: 14px;
    color: #555;
    cursor: text;
    width: 100%; /* Tornando os inputs responsivos */
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

h2{
    text-align: center;
}

input,#data_nasc{
    font-size: 12px;
    color: #999;
    cursor: text;
}
input,#nome,#cpf,#celular,#email,#senha,#senha2{
    font-size: 13px;
    color: #555;
    cursor: text;
}




input::placeholder {
    color: #ADB1CC; 
}
.mf{
    font-size: 14px;
}




label {
    font-size: 14px;
    color: #6A6F8D;
    margin-bottom: 5px;
    display: block;
    font-weight: 500;
}


input#nome, #email {
    width: 100%; 
}



.botao{
    display: flex;
    align-items: end;
    justify-content: end;

}

input[type="submit"]:hover {
    background-color: #c52b2b;
}

.form-container input:focus {
    border-color: #000;
    outline: none;
}


.botao_continuar {
    background-color: #c52b2b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 180px;
}

input[type="button"] {
    background-color: #f2f2f2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    color: #666;
    font-size: 18px;
}

/* /form */




.conteudo_cadastro{
height: 420px;
width: auto;
text-align: center;
background-color: #ffffff; /* Cor de fundo da div */
padding: 20px; /* Espaçamento interno */
border-radius: 8px; /* Bordas arredondadas */
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra */
margin: 20px 0; /* Margem acima e abaixo */ 
}


.titulo_cadastrodiv{
    padding: 30px 0px 10px ;
}
.titulo_cadastrodivp,p.texto_sub1{
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    color: #555;

    
}

.titulo-cadastro{
    color: #444;
    text-align: center;
}


.subTitulo{
    font-size: 23px;
    font-weight:600;
    line-height: 40px;
    color: #444;

}

.texto_sub{
    font-size: 16px;
    font-weight: normal;
    color: #555;


}

.conteudo{
    padding-bottom: 30px;
}

.conteudo2{
    padding-bottom: 20px;
    border-bottom: 1px solid #bbb;
}



.aceito_dados{
    color: #000;
    font-size:16px ;
    cursor: pointer;

}

input#aceito_dados{
    width: 20px;
    height: 15px;
    cursor: pointer;
    
}

.aceito{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px 0px 20px;
    border-bottom: 1px solid #bbb;
    text-align: left;
    align-items: center;
    display: 60px;
    cursor: pointer;
    
}

.botao_voltar{
    background-color: #F2F2F2;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 130px;
    width: 100%;
}

.botao_voltar:hover{
    background-color: #ddd;
}


/* Ajustes para dispositivos menores */
@media (max-width: 1024px) {
    .container {
        padding: 60px 20px;
    }
    
    .form {
        display: grid;
        grid-template-columns: repeat(2,1fr); /* Duas colunas para melhor disposição */
    }

    .field{
        display: flex;
        flex-direction: column; /* Coloca o label acima do input */
        gap: 5px; /* Espaçamento entre o label e o input */
        width: 100%; /* Garante que o campo ocupe toda a largura disponível */  
    }    
    
    .itens {
        flex-direction: column;
        align-items: center;
    }
    .navText {
        display: none; 
    }
    .icone-inicial {
        display: block; /* Garante que a imagem será exibida */
        margin: 0 auto; /* Centraliza a imagem na navbar */
    }
    
    .conteudo_cadastro{
        display: none;
    }
    .botao{
        order: 1;
    }
    
    .titulo_cadastrodiv{
        order: 2;
    }
    .paiBotao{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 30px;
        padding: 20px 0px 30px;
    }
    .bnt_cadastro{
        display: none;
    }
}


@media (max-width: 768px) {
    .form {
        grid-template-columns: 1fr; /* Uma coluna para telas pequenas */
    }
}


@media (min-width: 768px) and (max-width: 1024px) {


    .icone-inicial {
        width: 180px;
        height: 30px;
    }

    

    input, #nome, #cpf, #celular, #email{
        width: 100%;
    }
    input, #data_nasc{
        width: 80%;
    }
}


@media (max-width: 768px) {

    

    .icone-inicial {
        width: 180px;
        height: 30px;
    }


    input, #nome, #cpf, #celular, #email{
        width: 100%;
    }
    input, #data_nasc{
        width: 80%;
    }

}

/* Para telas pequenas (celulares) */
@media (max-width: 480px) {
    .container {
        padding: 40px 15px;
    }

    .form-container {
        grid-template-columns: 1fr; 
    }

    .form1, .form3 {
        grid-template-columns: 1fr;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        font-size: 14px;
    }
    
    .botao {
        margin-top: 20px;
    }
    
    .navbar-toggler {
        display: block;
    }
    
    .navText {
        font-size: 14px
    }
    
    .titulo-cadastro {
        font-size: 18px;
    }

    .conteudo_cadastro {
        padding: 15px;
        width: 100%;
    }


    input, #nome, #cpf, #celular, #email{
        width: 100%;
    }
    input, #data_nasc{
        width: 80%;
    }
    .titulo_cadastrodiv{
        background-color: #eee;
        border-radius: 30px;
    }


}




.paiBotao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    padding: 20px 0px 30px;
}




/* modal */

.modal-dialog {
    position: fixed !important;
    top: 0;
    right: 20px;
    margin: 0;
    height: 70vh !important;
    width: 350px !important; /* Largura do modal definida */
}



.modal-content {
    height: 100%; /* Faz o conteúdo do modal ocupar toda a altura do modal */
    border-radius: 15px !important; /* Remove bordas arredondadas */

}

.modal-body {
    display: flex;
    flex-direction: column;
    height: 100%;

}

button.btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    background-color: #CD3333;
    color: #fff;
    border: #CD3333;
}

button.btn2 {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    background-color: #fff;
    color: #000;
    border: 0.5px solid #666;
}

button.btn:hover {  
    background-color: #b42121;
    color: #fff;
}

button.btn2:hover {
    background-color: #e1e1e1;
}

.content_modal{
    padding-top: 20px;
    padding-bottom: 30px;
}

.modal_title{
    font-size: 30px;
    text-align: center;

}

.modal_sub{
    font-size: 14px;
    color: #555;
    text-align: center;

}

.itens{
    display: none;
}
.img-icones{
    display: none;
}


.modal-header .btn-close:hover{
    background-color: #b42121;
}


.modal-header{
    background-color: #CD3333;
}



.content_modal{
    padding-top: 20px;
    padding-bottom: 30px;
}

.modal_title{
    font-size: 30px;
    text-align: center;

}

.modal_sub{
    font-size: 14px;
    color: #555;
    text-align: center;

}

@media (max-width: 991px){
    .botao_nav{
        display: none;
    }
    .sla{
        display: none;
    }
    .form1{
        margin-top: 10px;
    }
}

@media (min-width: 991px) {
    .nav-link.a{
        display: none;
    }
    .form1{
        display: none;
    }

}


@media (max-width: 1098px) {
    .icone-inicial{
        width: 150px;
        height: 25px;  
    }

}

/* Responsividade para telas com largura máxima de 1048px */
@media (max-width: 1048px) {
    .navbar-nav {
        gap: 1rem; /* Novo valor de gap para telas menores ou iguais a 1048px */
    }
    .sla{
        width: 40%;
    }
}