* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}


body {
    
    background-color: #fff;  
}

.container_fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.a{
    text-decoration: none;
}

.icone-inicial{
    width: 200px;
    height: 35px;  
}
.icone-segundario{
    width: 150px;
    height: 40px;  
    border-radius: 50px;
}

.bg-custom{
    background-color: #CD3333;
}
.container_fluid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    width: 90%;
}


a.nav-link{
    color: #ccc;
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.3s;
}
a.nav-link:hover{
    font-size: 1.3rem;
    color: #fff;
}


a.nav-link.active.bg-custom{
    color: #fff;
    border-bottom: 2px solid #fff;
}
.navText{
    color: #fff;
}

.icone_nav{
    width: 35px;
    height: 35px;
}
/* /nav */




.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 20px 20px 20px; /* topo, direita, baixo, esquerda */

}

.icone_cadastro{
    width: 40px;
    height: 40px;
}

.text{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    height: 100%;
}
.itens,p{
    text-align: left;
    font-weight: bold;
    font-size: 30px;
}

.itens{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
    width: 100%;


}


/* form */

.form{
    display: grid;
    grid-template-columns: repeat(3,1fr); /* Duas colunas para melhor disposição */
    gap: 20px; /* Maior espaço entre os elementos */
    align-items: start;
    max-width: 100%;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    border-top: 4px solid #CD3333;
}

/* Input geral */
input {
    font-size: 14px;
    color: #555;
    cursor: text;
    width: 100%; /* Tornando os inputs responsivos */
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

h2{
    text-align: center;
}

input,#data_nasc{
    font-size: 12px;
    color: #999;
    cursor: text;
}
input,#nome,#cpf,#celular,#email,#senha,#senha2{
    font-size: 13px;
    color: #555;
    cursor: text;
}


.navbar-expand-lg .navbar-nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

input::placeholder {
    color: #ADB1CC; 
}
.mf{
    font-size: 14px;
}




label {
    font-size: 14px;
    color: #6A6F8D;
    margin-bottom: 5px;
    display: block;
    font-weight: 500;
}


input#nome, #email {
    width: 100%; 
}



.botao{
    display: flex;
    align-items: end;
    justify-content: end;

}

input[type="submit"]:hover {
    background-color: #c52b2b;
}

.form-container input:focus {
    border-color: #000;
    outline: none;
}


.botao_continuar {
    background-color: #c52b2b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 180px;
}

input[type="button"] {
    background-color: #f2f2f2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    color: #666;
    font-size: 18px;
}

/* /form */




.conteudo_cadastro{
height: 420px;
width: auto;
text-align: center;
background-color: #ffffff; /* Cor de fundo da div */
padding: 20px; /* Espaçamento interno */
border-radius: 8px; /* Bordas arredondadas */
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra */
margin: 20px 0; /* Margem acima e abaixo */ 
}


.titulo_cadastrodiv{
    padding: 30px 0px 10px ;
}
.titulo_cadastrodivp,p.texto_sub1{
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    color: #555;

    
}

.titulo-cadastro{
    color: #444;
    text-align: center;
}


.subTitulo{
    font-size: 23px;
    font-weight:600;
    line-height: 40px;
    color: #444;

}

.texto_sub{
    font-size: 16px;
    font-weight: normal;
    color: #555;


}

.conteudo{
    padding-bottom: 30px;
}

.conteudo2{
    padding-bottom: 20px;
    border-bottom: 1px solid #bbb;
}



.aceito_dados{
    color: #000;
    font-size:16px ;
    cursor: pointer;

}

input#aceito_dados{
    width: 20px;
    height: 15px;
    cursor: pointer;
    
}

.aceito{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px 0px 20px;
    border-bottom: 1px solid #bbb;
    text-align: left;
    align-items: center;
    display: 60px;
    cursor: pointer;
    
}

.botao_voltar{
    background-color: #F2F2F2;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 130px;
    width: 100%;
}

.botao_voltar:hover{
    background-color: #ddd;
}


/* Ajustes para dispositivos menores */
@media (max-width: 1024px) {
    .container {
        padding: 60px 20px;
    }
    
    .form {
        display: grid;
        grid-template-columns: repeat(2,1fr); /* Duas colunas para melhor disposição */
    }

    .field{
        display: flex;
        flex-direction: column; /* Coloca o label acima do input */
        gap: 5px; /* Espaçamento entre o label e o input */
        width: 100%; /* Garante que o campo ocupe toda a largura disponível */  
    }    
    
    .itens {
        flex-direction: column;
        align-items: center;
    }
    .navText {
        display: none; 
    }
    .icone-inicial {
        display: block; /* Garante que a imagem será exibida */
        margin: 0 auto; /* Centraliza a imagem na navbar */
    }
    .navbar-toggler {
        display: none; 
    }
    
    .navbar-collapse {
        display: flex !important; /* Garante que a navbar esteja sempre visível */
    }

    .conteudo_cadastro{
        display: none;
    }
    .botao{
        order: 1;
    }
    
    .titulo_cadastrodiv{
        order: 2;
    }
    .paiBotao{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 30px;
        padding: 20px 0px 30px;
    }
    .bnt_cadastro{
        display: none;
    }
}


@media (max-width: 768px) {
    .form {
        grid-template-columns: 1fr; /* Uma coluna para telas pequenas */
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .navbar-nav {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .icone-inicial {
        width: 180px;
        height: 30px;
    }
    .navbar-toggler {
        display: none; 
    }
    
    .navbar-collapse {
        display: flex !important;  
    }
    input, #nome, #cpf, #celular, #email{
        width: 100%;
    }
    input, #data_nasc{
        width: 80%;
    }
}


@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .icone-inicial {
        width: 180px;
        height: 30px;
    }
    .navbar-toggler {
        display: none; 
    }
    
    .navbar-collapse {
        display: flex !important;  
    }
    input, #nome, #cpf, #celular, #email{
        width: 100%;
    }
    input, #data_nasc{
        width: 80%;
    }

}

/* Para telas pequenas (celulares) */
@media (max-width: 480px) {
    .container {
        padding: 40px 15px;
    }

    .form-container {
        grid-template-columns: 1fr; 
    }

    .form1, .form3 {
        grid-template-columns: 1fr;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        font-size: 14px;
    }
    
    .botao {
        margin-top: 20px;
    }
    
    .navbar-toggler {
        display: block;
    }
    
    .navText {
        font-size: 14px
    }
    
    .titulo-cadastro {
        font-size: 18px;
    }

    .conteudo_cadastro {
        padding: 15px;
        width: 100%;
    }
    .navbar-toggler {
        display: none; 
    }
    
    .navbar-collapse {
        display: flex !important;
    }
    .navbar-brand{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    input, #nome, #cpf, #celular, #email{
        width: 100%;
    }
    input, #data_nasc{
        width: 80%;
    }
    .titulo_cadastrodiv{
        background-color: #eee;
        border-radius: 30px;
    }


}




.paiBotao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    padding: 20px 0px 30px;
}