*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;

}

body {
    background-color: #f4f4f9;

}


/* Navbar */


.input_nav {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
}
.icone-inicial {
    width: 200px;
    height: 35px;  
}

.icone-segundario {
    width: 150px;
    height: 40px;  
    border-radius: 50px;
}

.bg-custom {
    background-color: #CD3333;
}

a.nav-link {
    color: #ccc;
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.3s;
    font-family: "Poppins", serif;
}

a.nav-link:hover {
    font-size: 1.3rem;
    color: #fff;
}

a.nav-link.active.bg-custom {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.sla {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

/* Estilo padrão para .navbar-nav */
.navbar-nav {
    gap: 3rem; /* Valor original */
}

/* Search */
.form button {
    border: none;
    background: none;
    color: #8b8ba7;
}

/* Estilização do container do input */
.form {
    --timing: 0.3s;
    --width-of-input: 200px;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #fff;
    --border-color: #3042df;
    --border-radius: 10px;
    --after-border-radius: 10px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg, #fff);
    width: 100%;
}

/* Estilização do input */
.input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
}

/* Estilização da borda animada */
.form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 100px;
    transition: transform var(--timing) ease;
}

/* Hover do input */
.form:focus-within {
    border-radius: var(--after-border-radius);
}

input:focus {
    outline: none;
}

/* Código da borda animada */
.form:focus-within:before {
    transform: scale(1);
}

/* Estilização do botão de reset */
.reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
}

/* Exibição do botão de reset quando o texto está sendo digitado */
input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
}

/* Tamanho dos ícones SVG */
.form svg {
    width: 17px;
    margin-top: 3px;
}

/* Estilização da lupa */
.lupa {
    border: none;
    background: none;
    color: #9595AE;
}

/* Botões da navbar */
button.btn_nav {
    display: flex !important;
    gap: 10px;
    font-size: 13px;
    color: #fff;
    border: none;
    background-color: transparent;
    text-align: start;
    padding-left: 5px;
    width: 100%;
    border-radius: 20px;
    padding: 8px;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", serif;
}

button.btn_nav:hover {
    background-color: #b42121;
}

    .form1 {
        --timing: 0.3s;
        --width-of-input: 200px;
        --height-of-input: 40px;
        --border-height: 2px;
        --input-bg: #fff;
        --border-color: #3042df;
        --border-radius: 10px;
        --after-border-radius: 10px;
        position: relative;
        width: var(--width-of-input);
        height: var(--height-of-input);
        display: flex;
        align-items: center;
        padding-inline: 0.8em;
        border-radius: var(--border-radius);
        transition: border-radius 0.5s ease;
        background: var(--input-bg,#fff);
        width: 100%;
    }

    /* styling of animated border */
    .form1:before {
        content: "";
        position: absolute;
        background: var(--border-color);
        transform: scaleX(0);
        transform-origin: center;
        width: 100%;
        height: var(--border-height);
        left: 0;
        bottom: 0;
        border-radius: 100px;
        transition: transform var(--timing) ease;
    }
    /* Hover on Input */
    .form1:focus-within {
        border-radius: var(--after-border-radius);
    }


@media (max-width: 991px) {
    .botao_nav {
        display: none;
    }
}

/* Responsividade para a navbar */
@media (max-width: 991px) {
    .botao_nav {
        display: none;
    }
    .sla {
        display: none;
    }
    .form1 {
        margin-top: 10px;
    }
}

@media (min-width: 991px) {
    .nav-link.a {
        display: none;
    }

    .form1 {
        display: none;
    }
}

@media (max-width: 1048px) {
    .navbar-nav {
        gap: 1rem; /* Novo valor de gap para telas menores ou iguais a 1048px */
    }
    .sla {
        width: 40%;
    }
}

    
@media (min-width: 991px) {
    .nav-link.a{
        display: none;
    }

}


@media (max-width: 991px) {
    
    

    .ms-auto.a{
        display: none;
    }


    .botao_nav{
        display: none;
    }
        

}





.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 20px 20px 20px; /* topo, direita, baixo, esquerda */
    gap: 50px;

}
p.titulo{
    text-align: left;
    font-weight: bold;
    font-size: 35px;
    color: #c52b2b;
    padding-bottom: 30px;
}
p.sub{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #444;
    padding-bottom: 40px;

}

h1 {
    color: #333;
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}

.img{
    max-width: 100%;
    height: auto;
}
.img img{
    max-width: 100%;
    height: auto;
}
label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

 input[type="password"], input#email {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;

}

input.botao_continuar {
    background-color: #c52b2b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    width:100%;
}



input.botao_continuar:hover {
    background-color: #a02424;
}

.form-container input:focus {
    border-color: #000;
    outline: none;
}

.esqueceu_senha{
    cursor: pointer;
    margin-bottom: 30px;

}

.esqueceu_senha,p{
    font-size: 15px;
    color: #333;
}

.icone_cadastro{
    width: 30px;
    height: 30px;
}

.teste{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.cadastre{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 100px;
}

input.button_cadastro {
    background-color: #3042df;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    text-align: center;
    font-weight: bold;

}
.button_nova{
    display: flex;
    align-items: center;
    justify-content: start;
}


.nova_conta {
    background-color: #f7f7f7;
    width: 70%; 
    height: 300px;
    border-radius: 20px;
    padding: 20px;
    height: 100%;
}
p.titulo2{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #333;
}
input[type="button"]{
    
}


@media(max-width: 1024px){
    .form-container{
        grid-template-columns: repeat(1,1fr);
    }
    .navText {
        display: none; 
    }
    .icone-inicial {
        display: block; /* Garante que a imagem será exibida */
        margin: 0 auto; /* Centraliza a imagem na navbar */
    }


    .cadastre{
        display: none;
    }

}

@media(width: 768px){
    
}


@media(width: 480){
    
}


.paiBotao{
    display: grid;
    width: 100%;
    gap: 30px;
    padding: 20px 0px 30px;
}


.botao_voltar{
    background-color: #F2F2F2;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 130px;
    width: 100%;
}

.botao_voltar:hover{
    background-color: #ddd;
}





   /* modal */

   .modal-dialog {
    position: fixed !important;
    top: 0;
    right: 20px;
    margin: 0;
    height: 70vh !important;
    width: 350px !important; /* Largura do modal definida */
}



.modal-content {
    height: 100%; /* Faz o conteúdo do modal ocupar toda a altura do modal */
    border-radius: 15px !important; /* Remove bordas arredondadas */

}

.modal-body {
    display: flex;
    flex-direction: column;
    height: 100%;

}

button.btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    background-color: #CD3333;
    color: #fff;
    border: #CD3333;
}

button.btn2 {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    background-color: #fff;
    color: #000;
    border: 0.5px solid #666;
}

button.btn:hover {  
    background-color: #b42121;
    color: #fff;
}

button.btn2:hover {
    background-color: #e1e1e1;
}

.content_modal{
    padding-top: 20px;
    padding-bottom: 30px;
}

.modal_title{
    font-size: 30px;
    text-align: center;

}

.modal_sub{
    font-size: 14px;
    color: #555;
    text-align: center;

}

.itens{
    display: none;
}
.img-icones{
    display: none;
}


.modal-header .btn-close:hover{
    background-color: #b42121;
}


.modal-header{
    background-color: #CD3333;
}



.content_modal{
    padding-top: 20px;
    padding-bottom: 30px;
}

.modal_title{
    font-size: 30px;
    text-align: center;

}

.modal_sub{
    font-size: 14px;
    color: #555;
    text-align: center;

}

@media (max-width: 991px){
    .botao_nav{
        display: none;
    }
    .sla{
        display: none;
    }
    .form1{
        margin-top: 10px;
    }
}

@media (min-width: 991px) {
    .nav-link.a{
        display: none;
    }
    .form1{
        display: none;
    }

}


@media (max-width: 1098px) {
    .icone-inicial{
        width: 150px;
        height: 25px;  
    }

}

/* Responsividade para telas com largura máxima de 1048px */
@media (max-width: 1048px) {
    .navbar-nav {
        gap: 1rem; /* Novo valor de gap para telas menores ou iguais a 1048px */
    }
    .sla{
        width: 40%;
    }
}