*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;

}

body {
    background-color: #f4f4f9;

}


.container_fluid{
    display: flex;
    justify-content: space-between;
}
.a{
    text-decoration: none;
}

.icone-inicial{
    width: 200px;
    height: 35px;  
}
.icone-segundario{
    width: 150px;
    height: 40px;  
    border-radius: 50px;
}

.bg-custom{
    background-color: #CD3333;
}
.container_fluid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    width: 90%;
}


a.nav-link{
    color: #ccc;
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.3s;
}
a.nav-link:hover{
    font-size: 1.3rem;
    color: #fff;
}


a.nav-link.active.bg-custom{
    color: #fff;
    border-bottom: 2px solid #fff;
}
.navText{
    color: #fff;
}

.icone_nav{
    width: 35px;
    height: 35px;
}

.navbar-expand-lg .navbar-nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
}








.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 20px 20px 20px; /* topo, direita, baixo, esquerda */
    gap: 50px;

}
p.titulo{
    text-align: left;
    font-weight: bold;
    font-size: 35px;
    color: #c52b2b;
    padding-bottom: 30px;
}
p.sub{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #444;
    padding-bottom: 40px;

}

h1 {
    color: #333;
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}

.img{
    max-width: 100%;
    height: auto;
}
.img img{
    max-width: 100%;
    height: auto;
}
label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

input[type="text"], input[type="password"], input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;

}

input.botao_continuar {
    background-color: #c52b2b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    width:100%;
}



input.botao_continuar:hover {
    background-color: #a02424;
}

.form-container input:focus {
    border-color: #000;
    outline: none;
}

.esqueceu_senha{
    cursor: pointer;
    margin-bottom: 30px;

}

.esqueceu_senha,p{
    font-size: 15px;
    color: #333;
}

.icone_cadastro{
    width: 30px;
    height: 30px;
}

.teste{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.cadastre{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 100px;
}

input.button_cadastro {
    background-color: #3042df;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    text-align: center;
    font-weight: bold;

}
.button_nova{
    display: flex;
    align-items: center;
    justify-content: start;
}


.nova_conta {
    background-color: #f7f7f7;
    width: 70%; 
    height: 300px;
    border-radius: 20px;
    padding: 20px;
    height: 100%;
}
p.titulo2{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #333;
}
input[type="button"]{
    
}


@media(max-width: 1024px){
    .form-container{
        grid-template-columns: repeat(1,1fr);
    }
    .navText {
        display: none; 
    }
    .icone-inicial {
        display: block; /* Garante que a imagem será exibida */
        margin: 0 auto; /* Centraliza a imagem na navbar */
    }
    .navbar-toggler {
        display: none; 
    }
    
    .navbar-collapse {
        display: flex !important; /* Garante que a navbar esteja sempre visível */
    }
    .cadastre{
        display: none;
    }

}

@media(width: 768px){
    
}


@media(width: 480){
    
}


.paiBotao{
    display: grid;
    width: 100%;
    gap: 30px;
    padding: 20px 0px 30px;
}


.botao_voltar{
    background-color: #F2F2F2;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 130px;
    width: 100%;
}

.botao_voltar:hover{
    background-color: #ddd;
}