*{
    margin: 0;
    padding: 0;    
    text-decoration: none;


}
.body{
    background-color: #f1f1f1;
    width: 100%;
    height: auto;
}

.a{
    text-decoration: none;
}

.icone-inicial{
    width: 200px;
    height: 35px;  
}
.icone-segundario{
    width: 150px;
    height: 40px;  
    border-radius: 50px;
}

.bg-custom{
    background-color: #CD3333;
}



a.nav-link{
    color: #ccc;
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.3s;
}
a.nav-link:hover{
    font-size: 1.3rem;
    color: #fff;
}


a.nav-link.active.bg-custom{
    color: #fff;
    border-bottom: 2px solid #fff;
}
/* 
.text{
    color: #247565;
    font-weight: bold;
    background-color: #FFD601;
    border: none;
    border-radius: 20px;
}

.text:hover{
    background-color: #f3cb03;

}

.bnt{
    width: 100px;
    padding: 7px 15px 7px 15px; 
    background-color: #FFD601;
    border-radius: 20px;
}

.bnt:hover{
    background-color: #f3cb03;
}
 */

section.img{
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
}


section .container{
    width: 100%;
}

.img img{
    width: 100%;
    height: auto;
}

.itens{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}

.itens p{
    transition: 0.5s;
    font-family: "Poppins", serif;

}

.itens p:hover{
    border-bottom: 1px solid #B25842;
    font-size: 1.3rem;
}

.a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #B25842;
    font-weight: 400;
}

.b{
    text-decoration: none;
    font-size: 0.9rem;
    color: #5c5c5c;
    font-weight: 400;
    font-family: "Poppins", serif;

}

.categoria{
    color: #3c3c3c;
}

.img-icones{
    display: grid;
    grid-template-columns: repeat(8, 1fr); 
    gap: 10px; 
    align-items: center;
    padding-bottom: 70px;

}

.icone{
    text-align: center;
    color: #5f5f5f;
    font-size: 1.2rem;
}

.icone:hover{
    background-color: #eee;
}

.img-icones img{
    padding-bottom: 5px;
}



/* itens */

.content{
    padding-top: 50px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.text{
    width: 500px;
    text-align: start;
}
.text h2{
    color: #CD3333;
}
p{
    font-size: 1rem;
}

.cards{
    padding-top: 70px;
    width: 100%;

}

.cads{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;

}
.card1{
    width: 350px;   
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card1 h5, p{
    text-align: center;
}

.card1 p{
    font-size: 0.9rem;
}

.card1 h5{
    color: #CD3333;
}

.card1 .img{
    border: 1px solid #3c3c3c ;
    width: 200px;
    height: 200px;
}

.card2{
    width: 350px;   
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card2 h5, p{
    text-align: center;
}

.card2 p{
    font-size: 0.9rem;
}

.card2 h5{
    color: #CD3333;
}

.text2{
    text-align: center;
}

.card2 .img{
    border: 1px solid #3c3c3c ;
    width: 200px;
    height: 200px;
}


/* footer */
.footer-container{
    background-image:linear-gradient(to right, #CD3333, #DC2424,#E41C1C,#EC1211,#FB0303 )  ;
    padding: 25px;
}

.text3{
    color: #fff;
    text-align: center;
}
h2,span{
    color: #CD3333;
}

.bnt{
    padding: 7px 15px 7px 15px; 
    background-color: #FFD601;
    border-radius: 15px;
    border: none;
    font-weight: 400;
    color: #000;
    font-weight: 600;
}

.bnt:hover{
    background-color: #f3cb03;
}


@media (min-width: 1200px) {
    .cad{
        display: flex;
        flex-direction: column;     
    }
}




@media (min-width: 991px) {
    .nav-link.a{
        display: none;
    }
}


@media (max-width: 991px) {
    .ms-auto.a{
        display: none;
    }
    .navbar-toggler {
        margin-left: auto; 
    }
    .cards {
        display: flex;
        flex-direction: column; 
        padding: 70px;
   
        
    }


}

@media (max-width: 650px) {
    .cards {
        grid-template-columns: 1fr;  
        gap: 20px;
        align-items: center;
        justify-content: center;
        padding: 70px;
        
    }
    }



@media (max-width: 430px) {
    .cards {
        grid-template-columns: 1fr; 
        gap: 20px;
        align-items: center;
        justify-content: center;
        padding: 30px   ;  
    }
}

