*{
    margin: 0;
    padding: 0;    
    text-decoration: none;

}

body{
    background-color: #f1f1f1;
    width: 100%;
    height: auto;
}

.a{
    text-decoration: none;
}

.icone-inicial{
    width: 200px;
    height: 35px;  
}
.icone-segundario{
    width: 150px;
    height: 40px;  
    border-radius: 50px;
}

.bg-custom{
    background-color: #CD3333;
}



a.nav-link{
    color: #ccc;
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.3s;
    font-family: "Poppins", serif;

}
a.nav-link:hover{
    font-size: 1.3rem;
    color: #fff;
}


a.nav-link.active.bg-custom{
    color: #fff;
    border-bottom: 2px solid #fff;
}
/* 
.text{
    color: #247565;
    font-weight: bold;
    background-color: #FFD601;
    border: none;
    border-radius: 20px;
}

.text:hover{
    background-color: #f3cb03;

}

.bnt{
    width: 100px;
    padding: 7px 15px 7px 15px; 
    background-color: #FFD601;
    border-radius: 20px;
}

.bnt:hover{
    background-color: #f3cb03;
}
 */

section.img{
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
}


section .container{
    width: 100%;
}

.img img{
    width: 100%;
    height: auto;
}

.itens{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}

.itens p{
    transition: 0.5s;
    font-family: "Poppins", serif;

}

.itens p:hover{
    border-bottom: 1px solid #B25842;
    font-size: 1.3rem;
}

.a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #B25842;
    font-weight: 400;
}

.b{
    text-decoration: none;
    font-size: 0.9rem;
    color: #5c5c5c;
    font-weight: 400;
    font-family: "Poppins", serif;

}

.categoria{
    color: #3c3c3c;
}

.img-icones{
    display: grid;
    grid-template-columns: repeat(8, 1fr); 
    gap: 10px; 
    align-items: center;
    padding-bottom: 70px;

}

.icone{
    text-align: center;
    color: #5f5f5f;
    font-size: 1.2rem;
}

.icone:hover{
    background-color: #eee;
}

.img-icones img{
    padding-bottom: 5px;
}



section .container{
    width: 100%;
}


.content{
    text-align: center;
    padding-top: 30px;
}

.content span{
    color: #CD3333;
}

.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 40px; 
    align-items: center;
    padding-top: 2%;
    width: 100%;
}


.card1{
    background-color: #ffffff ;
    text-align: left;
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;    
    border-radius:10px;
    border-left: 5px solid #FFD700;
    line-height: 1.5rem;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.1);

}

.card2{
    background-color: #ffffff ;
    text-align: left;
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius:10px;
    border-left: 5px solid #CD3333;
    line-height: 1.5rem;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.1);
}

.botao{
    width: 50%;
    padding: 10px;
    border-radius: 7px;
    border:none;
    color: #fff;
    background-color: #CD3333;
    margin-top: 10px;
}

@media (min-width: 1200px) {
    .cad{
        display: flex;
        flex-direction: column;     
    }
}




@media (min-width: 991px) {
    .nav-link.a{
        display: none;
    }
}


@media (max-width: 991px) {
    .ms-auto.a{
        display: none;
    }
    .navbar-toggler {
        margin-left: auto; 
    }
    .cards {
        display: flex;
        flex-direction: column; 
        padding: 70px;
   
        
    }


}

@media (max-width: 650px) {
    .cards {
        grid-template-columns: 1fr;  
        gap: 20px;
        align-items: center;
        justify-content: center;
        padding: 70px;
        
    }
    }



@media (max-width: 430px) {
    .cards {
        grid-template-columns: 1fr; 
        gap: 20px;
        align-items: center;
        justify-content: center;
        padding: 30px   ;  
    }


}




/* nav */

button.btn_nav{
    display: flex !important;
    gap: 10px;
    font-size: 13px;
    color: #fff;
    border: none;
    background-color: transparent;
    text-align: start;
    padding-left: 5px;
    width: 100%;
    border-radius: 20px;
    padding: 8px;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", serif;

}

button.btn_nav:hover{
    background-color: #b42121;
}

@media (max-width: 991px) {

    .botao_nav{
        display: none;
    }
}





/* modal */

.modal-dialog {
    position: fixed !important;
    top: 0;
    right: 20px;
    margin: 0;
    height: 70vh !important;
    width: 350px !important; /* Largura do modal definida */
}



.modal-content {
    height: 100%; /* Faz o conteúdo do modal ocupar toda a altura do modal */
    border-radius: 15px !important; /* Remove bordas arredondadas */

}

.modal-body {
    display: flex;
    flex-direction: column;
    height: 100%;

}

button.btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    background-color: #CD3333;
    color: #fff;
    border: #CD3333;
}

button.btn2 {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    background-color: #fff;
    color: #000;
    border: 0.5px solid #666;
}

button.btn:hover {  
    background-color: #b42121;
    color: #fff;
}

button.btn2:hover {
    background-color: #e1e1e1;
}

.content_modal{
    padding-top: 20px;
    padding-bottom: 30px;
}

.modal_title{
    font-size: 30px;
    text-align: center;

}

.modal_sub{
    font-size: 14px;
    color: #555;
    text-align: center;

}

.itens{
    display: none;
}
.img-icones{
    display: none;
}


.modal-header .btn-close:hover{
    background-color: #b42121;
}


.modal-header{
    background-color: #CD3333;
}



.content_modal{
    padding-top: 20px;
    padding-bottom: 30px;
}

.modal_title{
    font-size: 30px;
    text-align: center;

}

.modal_sub{
    font-size: 14px;
    color: #555;
    text-align: center;

}


.text_contato {
    text-align: center;
    width: 100%;
    

}

.contatos {
    display: flex;
    justify-content: space-around;
    width: 100%; 
    padding-top:20px;
}